<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ab modi nostrum labore libero quaerat facilis, quasi aut quam quo architecto aperiam sequi porro accusamus earum consectetur accusantium asperiores beatae.
  <router-outlet></router-outlet>
</body>
</html>
